@page "/feed"
@using System.Collections
@using Data
<PageTitle>Feed</PageTitle>

<h1>Feed</h1>

<table class="table">
    <thead>
        <tr>
            <th>Date uploaded</th>
            <th>Image</th>
            <th>Description</th>
            <th>Measurements</th>
            <th>Estimated price</th>
            <th>Adresas</th>
            <th>Žiūrėti skelbimą</th>
        </tr>
    </thead>
    <tbody>

        @foreach (Post post in json.posts)
        {
            <tr>
                <td>@now.ToString("F")  (UTC)</td>
                <td><img src="@post.Image" style="height:200px;max-width:500px;width: auto;" /></td>
                <td>@post.Description</td>
                <td>@post.Height @post.Width @post.Length @post.Weight</td>
                <td>25e</td>
                <td>Didlaukio g. 29</td>
                <td> <button class="btn btn-primary">Priimti užsakymą</button> </td>
            </tr>
        }

    </tbody>
</table>



@code {


    DateTime now = DateTime.Now.ToUniversalTime();
    private int n = 0;
    ReadPost json = new ReadPost();
    protected override async Task OnInitializedAsync()
    {
        json.LoadJson();
    }

}