@page "/feed"
@using System.Collections
@using Data
@using ridalot2._0.Data.RIDALOT
@inherits LoginControl
@inject NavigationManager NavMan

<h1>Feed</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Date uploaded</th>
				<th>Image</th>
				<th>Description</th>
				<th>Measurements</th>
				<th>Estimated price (€)</th>
				<th>Address</th>
				<th>Take tasks</th>
			</tr>
		</thead>

		<Virtualize Context="post" Items="@posts">
			<tbody>
				<tr>
					<td>@post.Date</td>
					<td><img src="@post.Image" style="height:100px; max-width: 200px;" /></td>
					<td>@post.Description</td>
					<td>
						Weight: @post.Weight<br />
						Height: @post.Height<br />
						Width: @post.Width<br />
						Length: @post.Length<br />
					</td>
					<td>@post.Pay</td>
					<td>@post.Address</td>
					<td><button type="submit" class="btn btn-info btn-sm" style=@Constants.button @onclick="(()=>Clicked(post))">Accept the task</button></td>
				</tr>
			</tbody>
		</Virtualize>
	</table>

@if (popup)
{
	<AdPopUp Title="Task"
		 Text="Task accepted succesfully!"
		 TextName="Name:"
		 TextAdress="Address:"
		 TextPhone="Phone:"
		 OnClose="@ClosePopup"
		 DialogType="AdPopUp.ModalDialogType.Ok">
	</AdPopUp>
}@if (popup1)
{
	<AdPopUp Title="CAN'T TAKE THE TASK"
		 Text="YOU ARE NOT A WORKER"
		 OnClose="@ClosePopup">
	</AdPopUp>
}


@code {
	List<Posts> posts = new List<Posts>();
	public bool popup { get; set; } = false;
	public bool popup1 { get; set; } = false;

	protected override async Task OnInitializedAsync()
	{
		posts = await @Service.GetAllPostsAsync();
	}

	async Task Clicked(Posts post)
	{
		post.Worker = c.Email;
		post.Status = Convert.ToInt32(Status.InProgress);
		var result =
		@Service.UpdatePostAsync(post);

		posts =
		await @Service.GetAllPostsAsync();
	}


	private async Task ClosePopup(bool accepted)
	{
		popup = false;
		popup1 = false;
		StateHasChanged();
		NavMan.NavigateTo("/");
	}
}