@page "/"

<div class ="row">
    <div class="col-xl-6">
        <h3>
            <RadzenCheckBox @bind-Value="@showMadridMarker" />
        </h3>
        <RadzenGoogleMap style="height:600px;" Zoom="@zoom" Center="@(new GoogleMapPosition() { Lat = 55.260903771231035, Lng = 24.05798398437499 })" MapClick="@OnMapClick" MarkerClick="OnMarkerClick">
            <Markers>
                <RadzenGoogleMapMarker Title="Pick Up Location" Label="Pick Up Location" Position="@(new GoogleMapPosition() { Lat = lat, Lng = lng })" />
            </Markers>
        </RadzenGoogleMap>

    </div>
    <div class="col-xl-6">
        <label>Position : </label> @clickedPosition
    </div>
</div>
@code{
    int zoom = 7;
    bool showMadridMarker;
    string clickedPosition = "";
    double lat;
    double lng;

    void OnMapClick(GoogleMapClickEventArgs args)
    {
        clickedPosition = $"Map clicked LAT : {args.Position.Lat}, LNG : {args.Position.Lng}";
        lat = args.Position.Lat;
        lng = args.Position.Lng;

    }
    void OnMarkerClick(RadzenGoogleMapMarker args)
    {
        clickedPosition = $"Map {args.Title} Clicked LAT : {args.Position.Lat}, LNG : {args.Position.Lng}";
    }
}