@page "/myposts"
@using Data
@using System.Text.Json
@using System.Text.Json.Serialization
<h3>MyPosts</h3>

<table class="table">
	<thead>
		<tr>
			<th>Date uploaded</th>
			<th>Image</th>
			<th>Description</th>
			<th>Measurements</th>
			<th>Estimated price</th>
			<th>Adress</th>
			<th>Edit post</th>
		</tr>
	</thead>

	<Virtualize Context="post" Items="@posts">
		<tbody>
			<tr>
				<td>@post.Time</td>
				<td><img src="@post.Image" style="height:100px; max-width: 200px;" /></td>
				<td>@post.Description</td>
				<td>
					Weight: @post.Weight<br />
					Height: @post.Height<br />
					Width: @post.Width<br />
					Length: @post.Length<br />
				</td>
				<td>@post.Pay</td>
				<td>@post.Address</td>
				<td><button type="subimt" class="btn btn-info btn-sm" @onclick="()=>Clicked(post)">Delete</button></td>
			</tr>
		</tbody>
	</Virtualize>

</table>


@code {

	List<Post>? posts;
	protected override void OnInitialized()
	{
		ReadPost postList = new ReadPost();
		postList.LoadJson();
		if (postList.posts == null)
		{
		}
		else
		{
			posts = postList.posts;
		}

	}

	public void Clicked(Post post)
	{
		posts.Remove(post);
		string jsonString = JsonSerializer.Serialize(posts);
		File.WriteAllText("PostInfo.json", jsonString);
	}

}
