@page "/myposts"
@using Data
@using ridalot2._0.Data.RIDALOT
@using System.IO;
@inherits LoginControl
@inject PageService pageservice

<h3>MyPosts</h3>
	<table class="table">
		<thead>
			<tr>

				<th>Posted</th>
				<th>Image</th>
				<th>Description</th>
				<th>Measurements</th>
				<th>Estimated price</th>
				<th>Lat</th>
				<th>Lng</th>
				<th>Edit post</th>
			</tr>
		</thead>

		<Virtualize Context="post" Items="@pageservice.posts">
			<tbody>
				<tr>
					<td>@post.Date</td>
				<td><img src="@pageservice.getImages(post)" style="height:100px; max-width: 200px;" /></td>
					<td>@post.Description</td>
					<td>
						Weight: @post.Weight<br />
						Height: @post.Height<br />
						Width: @post.Width<br />
						Length: @post.Length<br />
					</td>
					<td>@post.Pay</td>
					<td>@post.AddressLat</td>
					<td>@post.AddressLng</td>
					<td><button type="submit" class="btn btn-info btn-sm" style=@Constants.button @onclick="(()=>Clicked(post))">Delete</button></td>
				</tr>
			</tbody>
		</Virtualize>
	</table>

@code {

	protected override async Task OnInitializedAsync()
	{
		try
		{
			pageservice.posts = await Service.GetMyPostsAsync(c.Email);
			pageservice.img = await Service.GetImagesAsync();
		}
		catch (System.Exception ex)
		{
			Console.WriteLine(ex.Message);
			ErrorLog.LogError(ex);
			throw new ArgumentException("Can't load your posts right now! Try again later", ex);
		}
	}

	async Task Clicked(Posts post)
	{
		try
		{
			await Service.DeletePostAsync(post);
			pageservice.posts = await Service.GetMyPostsAsync(c.Email);
		}
		catch(Exception ex)
		{
			Console.WriteLine(ex.Message);
			ErrorLog.LogError(ex);
			throw new ArgumentException("Can not remove the post right now! Try again later", ex);
		}
	}
	

}
