@page "/myposts"
@using Data
<h3>MyPosts</h3>

<Virtualize Context="post" Items="@posts">
<table class="table">
		    <thead>
        <tr>
            <th>Date uploaded</th>
            <th>Image</th>
            <th>Description</th>
            <th>Measurements</th>
            <th>Estimated price</th>
            <th>Adress</th>
            <th>View Add</th>
        </tr>
    </thead>
	<tbody>
		<tr>
			<td>@post.Time</td>
			<td><img src="@post.Image" style="height:200px; max-width: 300px;"/></td>
			<td>@post.Description</td>
			<pre>
Weight: @post.Weight
Height: @post.Height
Width: @post.Width
Length: @post.Length
			</pre>
			<td>@post.Pay</td>
			<td>@post.Address</td>
			<td>button</td>
		</tr>
	</tbody>
</table>
	<hr />
</Virtualize>


@code {

	List<Post>? posts;
	protected override void OnInitialized()
	{
		ReadPost postList = new ReadPost();
		postList.LoadJson();
		if(postList.posts == null)
		{
			var error = "No posts found...";
		}
		else
		{
			posts = postList.posts;
		}

	}


}
