@page "/mytasks"
@using Data
@using System.Text.Json
@using System.Text.Json.Serialization
@inherits LoginControl

<h3>MyTasks</h3>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>

        </tr>
    </thead>
    <tbody>
            @foreach (Post post in Filter)
            {

                <tr>
                    <th>Phone number:</th>
                    <td></td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td>@post.User</td>
                </tr>
                <tr>
                    <th>Description:</th>
                    <td>@post.Description</td>
                </tr>
                <tr>
                    <th>Measurements:</th>
                    <td>Weight: @post.Weight Height: @post.Height Width: @post.Width Length: @post.Length</td>
                </tr>
                <tr>
                    <th>Picture:</th>
                    <td><img src="@post.Image" style="height:100px; max-width: 200px;" /></td>
                </tr>
                <tr>
                    <th>Adress:</th>
                    <td>@post.AddressLat</td>
                    <td>@post.AddressLng</td>
                </tr>
                <tr>
                <a class="btn btn success" style=@Constants.button href="https://www.google.com/search?q=" onclick="location.href=this.href+'@post.AddressLat '+'@post.AddressLng';return false;">Open in google maps</a>
                <a class="btn btn success" style=@Constants.button href="https://www.google.com/maps/dir//" onclick="location.href=this.href+'@post.AddressLat '+'@post.AddressLng';return false;">Open in google dir</a>
                <table>
                    <div class="row">
                        <div class="col-xl-6">
                            <h3>
                            </h3>
                            <RadzenGoogleMap style="height:600px;width:500px;" Zoom="@zoom" Center="@(new GoogleMapPosition() {  Lat = @post.AddressLat, Lng = post.AddressLng })">
                                <Markers>
                                    <RadzenGoogleMapMarker Title="Pick Up Location" Label="Pick Up Location" Position="@(new GoogleMapPosition() { Lat = post.AddressLat, Lng = post.AddressLng })" />
                                </Markers>
                            </RadzenGoogleMap>

                        </div>
                    </div>
                </table>
                </tr>
            }
    </tbody>
</table>


@code {
    int zoom = 12;
    double lat;
    double lng;
    List<Post>? posts;
    IEnumerable<Post> Filter;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        ReadPost<Post> postList = new ReadPost<Post>();
        postList.LoadJson("PostInfo.json");

            Filter =
            from post in postList.posts
            where post.Worker == c.Email
            select post;
            posts = postList.posts.Where(x => x.Worker == c.Email).ToList();

    }

    public void Clicked()
    {

    }

}
