@page "/mytasks"
@using Data
@using ridalot2._0.Data.RIDALOT
@using Radzen
@using Radzen.Blazor
@inherits LoginControl
@inject PageService pageService
@inject DBService DBservice
@inject NavigationManager NavMan

<h3>MyTasks</h3>

<table class="table">
	<Virtualize Context="post" Items="@pageService.posts">
		<tbody>
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-6">
						<Image Source="@pageService.getImages(post).First().ImagePath" Alt="Post's image"></Image>
						<p><b>@post.Pay €</b></p>

						<p>Description: @post.Description</p>

						<li> Height: @post.Height </li>
						<li> Width: @post.Width </li>
						<li> Length: @post.Length </li>
						<li> Weight: @post.Weight </li>
						<br />
						<p> Email: @post.User</p>
						<p> Distance: @post.Distance</p>
						<br />
						<button class="button" style="background-color:rgb(237,91,45); border-color: rgb(237,91,45);" @onclick="(()=>Clicked(post))">Finished</button>
					</div>
					<div class="col-sm-6">
						<RadzenGoogleMap style="height:500px;width:500px;" Zoom="@zoom" ApiKey="AIzaSyBZ4535dtJv01oQ5jTzBPOJkdz2WVtzOPY" Center="@(new GoogleMapPosition() {  Lat = @post.AddressLat, Lng = post.AddressLng })">
								<Markers>
									<RadzenGoogleMapMarker Title="Pick Up Location" Label="Pick Up Location" Position="@(new GoogleMapPosition() { Lat = post.AddressLat, Lng = post.AddressLng })" />
									<RadzenGoogleMapMarker style = "10" Title="Savartynas" Label="Savartynas" Position="@(new GoogleMapPosition() { Lat = 54.69110901324764, Lng = 25.466429088366166})" />
								</Markers>
						</RadzenGoogleMap>
						<br />
						<a class="button" href="https://www.google.com/search?q=" onclick="location.href=this.href+'@post.AddressLat '+'@post.AddressLng';return false;">Open in google maps</a>
						<a class="button" href="https://www.google.com/maps/dir//" onclick="location.href=this.href+'@post.AddressLat '+'@post.AddressLng';return false;">Open in google dir</a>
					</div>
				</div>
			</div>
		</tbody>
		<br />
	</Virtualize>

</table>


@code {
	int zoom = 12;
	double lat;
	double lng;


	protected override async Task OnInitializedAsync()
	{
		try
		{
			pageService.posts = await DBservice.GetMyTasksAsync(Email);
			pageService.img = await DBservice.GetImagesAsync();
		}
		catch(System.Exception ex)
		{
			Console.WriteLine(ex.Message);
			ErrorLog.LogError(ex);
			throw new ArgumentException("Can't load your tasks right now! Try again later", ex);
		}
	}
	private async Task Clicked(Posts post)
	{
		try
		{
			await DBservice.DeletePostAsync(post);
			pageService.posts = await DBservice.GetMyPostsAsync(Email);
			NavMan.NavigateTo("/");
		}
		catch (Exception ex)
		{
			Console.WriteLine(ex.Message);
			ErrorLog.LogError(ex);
			throw new ArgumentException("Can not finish the task right now! Try again later", ex);
		}
		
	}
}
