@page "/mytasks"
@using Data
@using ridalot2._0.Data.RIDALOT
@inherits LoginControl
@inject PageService pageService
@inject DBService DBservice

<h3>MyTasks</h3>

<table class="table">

	<Virtualize Context="post" Items="@pageService.posts">
		<tbody>
			
			<tr>
				<th>Phone number:</th>
				<td></td>
			</tr>
			<tr>
				<th>Email:</th>
				<td>@post.User</td>
			</tr>
			<tr>
				<th>Description:</th>
				<td>@post.Description</td>
			</tr>
			<tr>
				<th>Measurements:</th>
				<td>Weight: @post.Weight Height: @post.Height Width: @post.Width Length: @post.Length</td>
			</tr>
			<tr>
				<th>Picture:</th>
				<td><img src="@pageService.getImages(post)" style="height:100px; max-width: 200px;" /></td>
			</tr>
			<tr>
				<th>Adress: </th>
                <td>Lat: @post.AddressLat</td>
                <td>Lng: @post.AddressLng</td>
			</tr>
			<tr>
				<th>Distance:</th>
				<td>@post.Distance</td>
			</tr>
			<tr>
				<a class="btn btn success" style=@Constants.button href="https://www.google.com/search?q=" onclick="location.href=this.href+'@post.AddressLat '+'@post.AddressLng';return false;">Open in google maps</a>
				<a class="btn btn success" style=@Constants.button href="https://www.google.com/maps/dir//" onclick="location.href=this.href+'@post.AddressLat '+'@post.AddressLng';return false;">Open in google dir</a>
				<table>
					<div class="row">
						<div class="col-xl-6">
							<h3>
							</h3>
							<RadzenGoogleMap style="height:600px;width:500px;" Zoom="@zoom" ApiKey="AIzaSyBZ4535dtJv01oQ5jTzBPOJkdz2WVtzOPY" Center="@(new GoogleMapPosition() {  Lat = @post.AddressLat, Lng = post.AddressLng })">
								<Markers>
									<RadzenGoogleMapMarker Title="Pick Up Location" Label="Pick Up Location" Position="@(new GoogleMapPosition() { Lat = post.AddressLat, Lng = post.AddressLng })" />
									<RadzenGoogleMapMarker style = "10" Title="Savartynas" Label="Savartynas" Position="@(new GoogleMapPosition() { Lat = 54.69110901324764, Lng = 25.466429088366166})" />
								</Markers>
							</RadzenGoogleMap>

						</div>
					</div>
				</table>
			</tr>
			<tr>
		<td><button type="submit" class="btn btn-info btn-sm" style=@Constants.button @onclick="(()=>Clicked(post))">Delete</button></td>
			</tr>
		</tbody>
	</Virtualize>

</table>


@code {
	int zoom = 12;
	double lat;
	double lng;


	protected override async Task OnInitializedAsync()
	{
		try
		{
  		pageService.posts = await DBservice.GetMyTasksAsync(Email);
  		pageService.img = await DBservice.GetImagesAsync();
		}
		catch(System.Exception ex)
		{
			Console.WriteLine(ex.Message);
			ErrorLog.LogError(ex);
			throw new ArgumentException("Can't load your tasks right now! Try again later", ex);
		}
	}
	private async Task Clicked(Posts post)
	{
		try
		{
			await DBservice.DeletePostAsync(post);
			pageService.posts = await DBservice.GetMyPostsAsync(Email);
		}
		catch (Exception ex)
		{
			Console.WriteLine(ex.Message);
			ErrorLog.LogError(ex);
			throw new ArgumentException("Can not finish the task right now! Try again later", ex);
		}
	}
}
