@page "/mytasks"
@using Data
@using ridalot2._0.Data.RIDALOT
@inherits LoginControl

<h3>MyTasks</h3>

<table class="table">

	<Virtualize Context="post" Items="@posts">
		<tbody>
			
			<tr>
				<th>Phone number:</th>
				<td></td>
			</tr>
			<tr>
				<th>Email:</th>
				<td>@post.User</td>
			</tr>
			<tr>
				<th>Description:</th>
				<td>@post.Description</td>
			</tr>
			<tr>
				<th>Measurements:</th>
				<td>Weight: @post.Weight Height: @post.Height Width: @post.Width Length: @post.Length</td>
			</tr>
			<tr>
				<th>Picture:</th>
				<td><img src="@getImages(post)" style="height:100px; max-width: 200px;" /></td>
			</tr>
			<tr>
				<th>Adress:</th>
			</tr>
			<tr>
				<th><button type="submit" class="btn btn-success" style=@Constants.button onclick ="@Clicked">Open in maps</button></th>
				<td></td>
			</tr>

		</tbody>
	</Virtualize>

</table>


@code {
	List<Posts> posts = new List<Posts>();
	List<Images> img = new List<Images>();

	protected override async Task OnInitializedAsync()
	{
		posts = await @Service.GetMyTasksAsync(c.Email);
		img = await @Service.GetImagesAsync();
	}

	public void Clicked()
	{
		
	}
	public String getImages(Posts post)
	{
		List<Images> temp = new List<Images>();

		Console.WriteLine(img.Count());

		temp = img.Where(x => x.Posts.Id == post.Id).ToList();

		Console.WriteLine(temp.Count);

		if (temp.Count > 0)
		{
			Console.WriteLine(temp.First().ImagePath);
			return temp.First().ImagePath;
		}
		else return "";
	}
}
