@page "/mytasks"
@using Data
@using ridalot2._0.Data.RIDALOT
@inherits LoginControl
@inject PageService pageService
@inject DBService DBservice

<h3>MyTasks</h3>

<table class="table">

	<Virtualize Context="post" Items="@pageService.posts">
		<tbody>
			
			<tr>
				<th>Phone number:</th>
				<td></td>
			</tr>
			<tr>
				<th>Email:</th>
				<td>@post.User</td>
			</tr>
			<tr>
				<th>Description:</th>
				<td>@post.Description</td>
			</tr>
			<tr>
				<th>Measurements:</th>
				<td>Weight: @post.Weight Height: @post.Height Width: @post.Width Length: @post.Length</td>
			</tr>
			<tr>
				<th>Picture:</th>
				<td><img src="@pageService.getImages(post)" style="height:100px; max-width: 200px;" /></td>
			</tr>
			<tr>
				<th>Adress: </th>
                <td>Lat: @post.AddressLat</td>
                <td>Lng: @post.AddressLng</td>
			</tr>
			<tr>
				<a class="btn btn success" style=@Constants.button href="https://www.google.com/search?q=" onclick="location.href=this.href+'@post.AddressLat '+'@post.AddressLng';return false;">Open in google maps</a>
				<a class="btn btn success" style=@Constants.button href="https://www.google.com/maps/dir//" onclick="location.href=this.href+'@post.AddressLat '+'@post.AddressLng';return false;">Open in google dir</a>
				<table>
					<div class="row">
						<div class="col-xl-6">
							<h3>
							</h3>
							<RadzenGoogleMap style="height:600px;width:500px;" Zoom="@zoom" Center="@(new GoogleMapPosition() {  Lat = @post.AddressLat, Lng = post.AddressLng })">
								<Markers>
									<RadzenGoogleMapMarker Title="Pick Up Location" Label="Pick Up Location" Position="@(new GoogleMapPosition() { Lat = post.AddressLat, Lng = post.AddressLng })" />
								</Markers>
							</RadzenGoogleMap>

						</div>
					</div>
				</table>
			</tr>

		</tbody>
	</Virtualize>

</table>


@code {
	int zoom = 12;
	double lat;
	double lng;


	protected override async Task OnInitializedAsync()
	{
		pageService.posts = await DBservice.GetMyTasksAsync(Email);
		pageService.img = await DBservice.GetImagesAsync();
	}
}
