@page "/mytasks"
@using Data
@using ridalot2._0.Data.RIDALOT
@inherits LoginControl

<h3>MyTasks</h3>

<table class="table">

	<Virtualize Context="post" Items="@pageservice.posts">
		<tbody>
			
			<tr>
				<th>Phone number:</th>
				<td></td>
			</tr>
			<tr>
				<th>Email:</th>
				<td>@post.User</td>
			</tr>
			<tr>
				<th>Description:</th>
				<td>@post.Description</td>
			</tr>
			<tr>
				<th>Measurements:</th>
				<td>Weight: @post.Weight Height: @post.Height Width: @post.Width Length: @post.Length</td>
			</tr>
			<tr>
				<th>Picture:</th>
				<td><img src="@pageservice.getImages(post)" style="height:100px; max-width: 200px;" /></td>
			</tr>
			<tr>
				<th>Adress:</th>
				<td>@post.Address</td>
			</tr>
			<tr>
				<th><button type="submit" class="btn btn-success" style=@Constants.button onclick ="@Clicked">Open in maps</button></th>
				<td></td>
			</tr>

		</tbody>
	</Virtualize>

</table>


@code {
	PageService pageservice = new PageService();

	protected override async Task OnInitializedAsync()
	{
		pageservice.posts = await Service.GetMyTasksAsync(c.Email);
		pageservice.img = await Service.GetImagesAsync();
	}

	public void Clicked()
	{
		
	}
}
