@page "/mytasks"
@using Data
@using System.Text.Json
@using System.Text.Json.Serialization
@inherits LoginControl

<h3>MyTasks</h3>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>

        </tr>
    </thead>
    <tbody>
            @foreach (Post post in Filter)
            {

                <tr>
                    <th>Phone number:</th>
                    <td></td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td>@post.User</td>
                </tr>
                <tr>
                    <th>Description:</th>
                    <td>@post.Description</td>
                </tr>
                <tr>
                    <th>Measurements:</th>
                    <td>Weight: @post.Weight Height: @post.Height Width: @post.Width Length: @post.Length</td>
                </tr>
                <tr>
                    <th>Picture:</th>
                    <td><img src="@post.Image" style="height:100px; max-width: 200px;" /></td>
                </tr>
                <tr>
                    <th>Adress:</th>
                    <td>@post.Address</td>
                </tr>
                <tr>
                    <a href="https://www.google.com/search?q=" onclick="location.href=this.href+'@post.Address';return false;">
                    <th><button type="submit" class="btn btn-success" style=@Constants.button onclick="@Clicked">Open in maps</button></th>
                    </a>
                    <a href="https://www.google.com/maps/dir//" onclick="location.href=this.href+'@post.Address';return false;">
                    <th><button type="submit" class="btn btn-success" style=@Constants.button onclick="@Clicked">Open directions in maps</button></th>
                    </a>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11354.652921443007!2d25.234450275968243!3d54.755636382201246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dd91ab9a166fe5%3A0x90ddc962e896aed1!2sBajorai%2C%20Vilnius!5e0!3m2!1slt!2slt!4v1667643221134!5m2!1slt!2slt" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <td></td>
                </tr>
            }
    </tbody>
</table>


@code {

    List<Post>? posts;
    IEnumerable<Post> Filter;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        ReadPost<Post> postList = new ReadPost<Post>();
        postList.LoadJson("PostInfo.json");

            Filter =
            from post in postList.posts
            where post.Worker == c.Email
            select post;
            posts = postList.posts.Where(x => x.Worker == c.Email).ToList();

    }

    public void Clicked()
    {

    }

}
